@font-face {
  font-family: "Chatype Bold";
  src: url("/fonts/chatype-bold.eot");
  src: url("/fonts/chatype-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/chatype-bold.woff") format("woff"), url("/fonts/chatype-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chatype Medium";
  src: url("/fonts/chatype-medium.eot");
  src: url("/fonts/chatype-medium.eot?#iefix") format("embedded-opentype"), url("/fonts/chatype-medium.woff") format("woff"), url("/fonts/chatype-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chatype Regular";
  src: url("/fonts/chatype-regular.eot");
  src: url("/fonts/chatype-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/chatype-regular.woff") format("woff"), url("/fonts/chatype-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
