{% extends parent %}

{% block 'main' %}
  <h1>{{ page.title }}</h1>

  <ul>
    {% for project in contents.projects %}
      <li>
        <figure>
          {{ project.thumb.url | theme_image_tag }}
          <figcaption>{{ project.description }}</figcaption>
        </figure>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
