@import partials/colors
@import compass/css3
@import grid/settings
@import partials/typography
@import partials/mixins

html
  background: image-url('backgrounds/stripe.png') white left top no-repeat

  body
    > header, > footer
      background: $kournikova

    > footer
      height: 152px
      text-align: center
      width: 100%

      img
        clear: both
        display: block
        +layout-horizontal-margin(1)
        margin-left: auto
        margin-right: auto

    .content, section[role='contentinfo']
      +container

    section[role='contentinfo']
      +layout-horizontal-margin(4)
      height: auto

    > header
      +box-shadow(rgba(0, 0, 0, .3) 2px 0 8px)
      height: 74px

      .content
        height: 100%
